body {
    background-color: rgb(250, 220, 139);
}

#text1 {
    align-items: center;
    font-size: 5rem;
    color: rgb(7, 2, 2);
    text-align: center;
    text-shadow: 2px 2px 4px white;
}

#text2 {
    font-size: 2rem;
    color: rgb(5, 3, 3);
    text-align: center;
    padding-top: 20px;
}

button {
    padding-bottom: 10px;
}

.navbar {
    background-color: darkgrey;
    height: 50px;
    display: block;
    align-items: center;
    padding: 10px 20px;
}

.navbar img {
    height: 30px;
    margin-right: 10px;
    display: inline;
}

.navbar h1 {
    color: white;
    font-size: 24px;
    display: inline;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px); /* Subtract the navbar height */
}

